# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
venv/
.venv/
.env
.env.*
pip-wheel-metadata/
*.egg-info/
.pytest_cache/

# VS Code / JetBrains
.vscode/
.idea/
*.iml
*.iws
out/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
local.properties

# Android / Gradle
.gradle/
**/app/build/

# Arduino / C / C++
*.elf
*.hex
*.bin
*.o
*.d
*.map
*.lst
*.tmp
/build/
/\.pio/

# Logs and temp
*.log
logs/
tmp/
*.swp

